@{
    ViewData["Title"] = "Home Page";
    List<string> genres = new List<string>() {"action", "adventure", "animation", "children", "comedy", "crime", "documentary", "drama", "fantasy", "film", "horror", "imax", "musical", "mystery", "noir", "romance", "thriller", "war", "western"};
}

<div class="text-center">
    <h1 class="display-4">Welcome to MovieLens</h1>
    <br />
    <section>
        @using (Html.BeginForm("AllMovies", "Home", FormMethod.Get))
        {
            <button type="submit" class="btn btn-primary">Load all movies</button>
            <br>
            <details>
                <summary>Options:</summary>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" checked name="option" class="custom-control-input" value="id">
                    <label class="custom-control-label" for="customRadioInline1">Order by NONE</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="option" class="custom-control-input" value="title">
                    <label class="custom-control-label" for="customRadioInline2">Order by TITLE</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline3" name="option" class="custom-control-input" value="rating">
                    <label class="custom-control-label" for="customRadioInline3">Order by RATING</label>
                </div>
                <input type="hidden" name="page" value=1>
            </details>
        }
    </section>
    <section>
        @using (Html.BeginForm("MoviesByTitleSearch", "Home", FormMethod.Get))
        {
            <label for="text_input">Search by title:</label>
            <br>
            <input type="text" id="text_input" style="width:auto" name="selection" required>
            <br>
            <button type="submit" id="my_button" class="btn btn-primary">Search</button>
        }
    </section>
    <section>
        @using (Html.BeginForm("TopByGenre", "Home", FormMethod.Get))
        {
            <label for="btngrupa">Top 100 by genre:</label>
            <div id="div_select">
                <select name="genre" class="form-control form-control-sm">
                    @foreach (string item in genres)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <button type="submit" id="my_button" class="btn btn-primary">Go</button>
        }
    </section>
</div>


<style>
    section {
        padding: 10px;
        border-bottom: 1px solid black;
    }
    #my_button{
        margin-top:5px;
    }
    #div_select {
        width: 100px;
        display: block;
        margin: 0 auto;
    }
    h1{
       text-decoration: underline;
    }
</style>